<div class="wrapper">
  <section class="hero">
    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10 col-lg-6">
            <i class="fa fa-film" id="icon"></i>
            <h1 class="display-5"> News Detail</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sec-features" class="sec-features pt-5 pb-5">
    <div class="container">
      <div class="col-md-6">
        <img style="margin-left: 350px" [src]="" />
      </div>
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="h4">News Title</h3>
          <p></p>

          <h3 class="h4">Author</h3>
          <p></p>

          <h3 class="h4">Published At</h3>
          <p></p>

          <h3 class="h4">Source Name</h3>
          <p></p>
          
        </div>
      </div>
    </div>
  </section>
</div>
