<div class="wrapper">
    <section class="hero">
      <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-6">
                <i class="fa fa-film" id="icon"></i>
              <h1 class="display-5">Avengers Movie Details</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  
    <section id="sec-features" class="sec-features pt-5 pb-5">
      <div class="container">
        <div class="col-md-6">
          <img style="margin-left: 350px;" src="assets/logo.png">
        </div>
        <div class="row align-items-center">
          <div class="col-md-6">
            <h3 class="h4">Title</h3>
            <p>Captain America: The First Avenger</p>

            <h3 class="h4">Year</h3>
            <p>2011</p>

          

            <h3 class="h4">Rated</h3>
            <p>PG-13</p>

            <h3 class="h4">Released</h3>
            <p>22 Jul 2011</p>

            <h3 class="h4">Runtime</h3>
            <p>124 min</p>

            <h3 class="h4">Genre</h3>
            <p>Action, Adventure, Sci-Fi</p>

            <h3 class="h4">Director</h3>
            <p>Joe Johnston</p>

            <h3 class="h4">Writer</h3>
            <p>Christopher Markus (screenplay), Stephen McFeely (screenplay), Joe Simon (comic books), Jack Kirby (comic books)</p>

            <h3 class="h4">Actors</h3>
            <p>Chris Evans, Hayley Atwell, Sebastian Stan, Tommy Lee Jones</p>

            <h3 class="h4">Plot</h3>
            <p>Steve Rogers, a rejected military soldier, transforms into Captain America after taking a dose of a \"Super-Soldier serum\". But being Captain America comes at a price as he attempts to take down a war monger and a terrorist organization.</p>

            <h3 class="h4">Language</h3>
            <p>English, Norwegian, French</p>

            <h3 class="h4">Country</h3>
            <p>USA</p>

            <h3 class="h4">Awards</h3>
            <p>4 wins & 46 nominations.</p>

            <h3 class="h4">Ratings</h3>
            <p>6.9/10</p>

            <h3 class="h4">imdbID</h3>
            <p>tt0458339</p>
          </div>

          

          
        </div>
        
  
    
  
      
      </div>
    </section>
  
    
